<div class="bg-[#18181b] rd-header w-auto h-[52px] border-b-[1px] border-[#3e3e44] p-2">
    <div class="flex flex-row space-x-4 md:space-x-8 justify-end">
        @for (account of activeAccounts; track account)
        {
            <!--
                TODO: Vertically center these fucks so when neither md/lg are triggered shit doesn't look fucked.
            -->
            <div class="justify-end text-l md:text-2xl lg:text-3xl">
                @if (account.active)
                {
                    <span class="text-primary font-bold">{{account.rsn}}</span>
                }
                @else
                {
                    <span class="font-semibold">{{account.rsn}}</span>
                }
            </div>
        }
    </div>
</div>