<hlm-alert-dialog>
  <button id="edit-profile" variant="outline" brnAlertDialogTrigger hlmBtn>{{ buttonText }}</button>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle>{{ alertHeader }}</h3>
      <p hlmAlertDialogDescription>
        {{ alertDesc }}
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
      <button hlmAlertDialogAction (click)="ctx.close()">{{ buttonText }}</button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>