<div class="rd-grouping mt-auto min-h-full">
  <div class="flex flex-col justify-center space-y-8  h-full">
    <div class="descriptor flex flex-col space-y-2">
      <h1 class="text-white font-semibold text-xl">Silhouette</h1>
      <p>Control the colour values of accessibility silhouettes.</p>
    </div>
    <p-colorpicker [formControl]="color" />
    <p-slider [formControl]="opacity" class="w-full" [step]="0.01" [min]="0" [max]="1.0" />
    <p-slider [formControl]="width" class="w-full" [step]="1.00" [min]="0" [max]="4000.0" />
  </div>
</div>
