<!--
I genuinely don't know why there's a gap in the x axis on these elements.
I genuinely don't want to know why there's a gap in the x axis on these elements.
I genuinely don't care why there's a gap in the x axis on these elements.
I genuinely hate frontend.
Probably tailwind.
-->
<div class="grid grid-cols-3 grid-rows-6969 gap-y-8">
  <app-silhouette-controller class="col-span-2"></app-silhouette-controller>
  <app-entity-hider class="col-span-1"></app-entity-hider>
  <app-scene-object-debug class="col-span-3"></app-scene-object-debug>
</div>